.categories{
	color:#E50914;
	font-weight:700; 
	font-size:16px;
}
.callout-arrow.categories{

}
.hidden_categories > div {
	display:none;
    position: absolute;
    width: 700px;
    background: rgba(0,0,0,.7) 10%;
    height:400px;
    overflow:scroll;
}
.hidden_categories_list{
	margin-left: -20px;
}
.hidden_categories_list li{
	line-height: 20px;
    float: left;
    margin-right: 25px;
    width: 200px;
}
.hidden_categories_list li:nth-child(4) {
    clear: left;
}
.hidden_categories.hoveredOver > div {
	display:block;
}
.hidden_categories_list li a:hover{
	color:#E50914;
}
